<?xml version="1.0"?>

<robot name="jetrover_ros2_control"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="GazeboSimSystem" type="system">

    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- Mecanum wheels -->

    <joint name="wheel_left_front_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wheel_left_back_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wheel_right_front_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wheel_right_back_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Robotic arm -->

    <joint name="joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="joint2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="joint3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="joint4">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="joint5">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Main gripper joint -->

    <joint name="r_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Mimic joints: state interfaces only -->

    <joint name="l_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="l_in_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="l_out_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="r_in_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="r_out_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

</robot>